<?xml version="1.0" encoding="utf-8"?>
<!--
  NuGet.config for sharepoint-common connector builds (local dev + Docker).

  Authentication: the NetwrixUK-Core feed reads credentials from the NUGET_TOKEN
  environment variable.  On developer machines this is populated automatically
  by the Azure DevOps Credential Provider (CredentialProvider.Microsoft.exe).
  In CI it should be set to a PAT with "Packaging (read)" scope.

  Do NOT commit credentials into this file.
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NetwrixUK-Core" value="https://pkgs.dev.azure.com/NetwrixCorporation/_packaging/Netwrix.UK%40Local/nuget/v3/index.json" />
    <add key="NetwrixAuditor" value="https://pkgs.dev.azure.com/NetwrixCorporation/NetwrixAuditor/_packaging/Netwrix.Auditor/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NetwrixUK-Core>
      <add key="Username" value="VssSessionToken" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </NetwrixUK-Core>
    <NetwrixAuditor>
      <add key="Username" value="VssSessionToken" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </NetwrixAuditor>
  </packageSourceCredentials>
</configuration>
