[project]
name = "netwrix-python"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "redis>=5.0.0",
]

[dependency-groups]
dev = []

[tool.ruff]
line-length = 120
